.cardPr{
    width: 370px;
    height: 470px;
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.cardPr img{
    width: 300px;
    height: 250px;
}

.texts{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.info h4,.info p,.info h5{
height: 20px;
}
.pricess h6{
    font-size: 13px;
}
.info p ,.cardPr h6{
    color: #5C5C66 !important;
}

.sell{
    background-color: red;
    color: #FFFFFF;
    width: 56px;
    height: 56px;
    position: relative;
    margin-left: -235px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pricess{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85px;
}