.container-descrip{
    height: 600px;
    width: 100%;
}
.descrip-image{
    margin-top: 68px;
    margin-bottom: 68px;
    margin-left: 90px;
    width: 600px;
    height: 280px;
    left: 121px;
    top: 902px;
}
.card-text{
    font-size: 20px;
     position: absolute;
    top: 715px;
    margin-left: 740px;
    margin-right: 240px;
}
.descrip-title{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descrip-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.descrip-cards{
    border: 2px solid darkgrey;
    padding: 10px;
    margin-left: 90px;
    margin-bottom: 50px;
    margin-right: 90px;
}
