.infoBlock{
    display: flex;
    margin-top: 5px;
}
.infoBlock h5{
    margin-top: 6px;
    margin-bottom: 40px;
    margin-right: 40px;
    font-weight: 700;
}
.infoBlock div div{
    width: 1200px;
    margin-bottom: 40px;
}
.transparent{
    color: #7f7f80;
}
.accentuated{
    font-size: 19px;
}