.product-photo-markup{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 450px;
    align-items: center;
    height: 350px;
    top: 50px;
}
.product-photo{
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 450px;
    padding-right:  15px;
    color: black;
}
.product-style{
    border-radius: 15%;
    width: 203px;
    height: 345px;
    padding-left: 15px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.product-info{
    position: relative;
    bottom: 25px;
    left: 10px;
}
.sub-info{
    position: relative;
    left: 10px;
}
