.train {
    display: flex;
    width: 3120px;
    height: 470px;
    justify-content: space-around;
    flex-direction: row;
    font-family: 'Gilroy';
    margin-top: 100px;
}
.rail{
    height: 650px;
    width: 1568px;
    margin-top: 25px;
    margin-left: 100px;
    overflow: hidden;
}

.mover{
    display: flex;
    align-items: center;
    margin-bottom: -70px;
    justify-content: space-between;
}
.mover div{
    display: flex;
    justify-content: space-between;
    width: 50px;
    height:15px ;
}
.mover div img{
    width: 20px;
    height: 10px;
}