.row{
display: flex;
}
.page-footer{
    background-color: white;
    position: relative;
    top: 50px;
}
.container{
    display: flex;
    color: black;
    flex-direction: column;
    width: 100%;
}
.position-container{
    left: 150px;
    position: relative;
}
.position-catalog{
    position: relative;
    left: 75px;
}
.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 200px;
}
.social img{
    width: 11.82px;
    height: 11.82px;
}
.telegram{
    width: 27.82px;
    height: 27.82px;
    background-color: #2F89CE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fk{
    width: 27.82px;
    height: 27.82px;
    background-color: #F79A38;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ok{
    width: 27.82px;
    height: 27.82px;
    background-color: #F79A38;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whats{
    width: 27.82px;
    height: 27.82px;
    background-color: #48C95F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inst{
    width: 27.82px;
    height: 27.82px;
    background-color: rgba(214, 71, 99, 0.87);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}
.vibe{
    width: 27.82px;
    height: 27.82px;
    background-color:#7C509A;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}
.pay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 450px;
    height: 150px;
    left: 125px;
}
.social-position{
    position: relative;
}
.font-end{
    font-size: 10px;
}

