p, h2, h3,  h4,h5,h6{
    color: black !important;
}
.train {
    display: flex;
    width: 3120px;
    height: 470px;
    justify-content: space-around;
    flex-direction: row;
    font-family: 'Gilroy';
    top: 100px;
}
.rail{
    height: 470px;
    width: 1520px;
    position: relative;
    top: 125px;
}
